PROJECT_CWD=
HOST=
PORT=
DOCKER_HOST=
GLUESYNC_LICENSE_FILE=
GLUESYNC_SECURITY_CONFIG=
SSL_ENABLED=
SSL_SKIP_VERIFY=
SSL_CERT_FILE=
SSL_KEY_FILE=
DEBUG=
CORE_HUB_ADDRESS=
KEYSTORE_PATH=
KEYSTORE_PASSWORD=
JEST_TIMEOUT=
CORE_HUB_URL=
ALLOWED_ORIGINS=
SSL_P12_PATH=
SSL_CERT_PASSWORD=
SSL_KEY_PASSWORD=
